---
import './styles.css';
import ResponsiveImage from 'components:ResponsiveImage';
import Button from 'components:Button/index';

interface CardPricing {
  className?: string;
  nameHotels?: Array<string>;
  salary?: number;
  imageUrls?: object;
}

export interface CardPricingProps {
  data: CardPricing;
}

const { data } = Astro.props;
---

<div class={`relative bg-white text-tertiary ${data.className}`}>
  <div class="flex flex-col items-center">
    <p
      class="text-size-md md:text-size-xl md:leading-xl my-8 min-w-119 min-h-32"
    >
      Salary + ${data.salary}
    </p>
    <ul class="px-4 sm:px-0 mb-6 text-size-xs md:text-sm xl:text-size-md">
      {
        data.nameHotels.map((item, index) => {
          return <li class="mb-1 leading-md">{item}</li>;
        })
      }
    </ul>
  </div>
  <ResponsiveImage
    className="d-flex"
    alt="Background about avatar"
    width={{
      default: '100%'
    }}
    height={{
      default: '100%'
    }}
    url={{
      desktop: data?.imageUrls.desktop,
      mobile: data?.imageUrls.mobile,
      mobile2x: data?.imageUrls.mobile2x,
      default: data?.imageUrls.default
    }}
  />
  <Button
    className="uppercase absolute bottom-0 left-0 md:min-w-btn-secondary"
    size="secondary">Book Hotel</Button
  >
</div>
