---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Button from '../components/Button/index.astro';
---

<Layout title="Welcome to Astro.">
  <main class="p-4 md:p-8 md:pr-0 2xl:container 2xl:mx-auto">
    <div class="md:w-1/2 md:pr-4">
      <Header />
      <div class="pt-8 md:pl-20 md:pb-20 md:pt-32">
        <h1 class="mt-5 text-size-xl md:text-3xl xl:text-size-2xl">
          Travel <span class="text-primary">Around the World</span>
        </h1>
        <p
          class="text-dark text-xs md:text-xl xl:text-size-lg leading-lg sm:mt-4 xl:mt-8"
        >
          If you are creative person, this is your life!
        </p>
      </div>
    </div>
    <div class="md:w-1/2 bg-red"></div>
  </main>
</Layout>
