---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import ResponsiveImage from '../components/ResponsiveImage.astro';
import PlayButton from '../components/PlayButton/index.astro';
---

<Layout title="Welcome to Astro.">
  <main class="p-4 md:pl-8 md:py-0 md:pr-0 md:flex 2xl:container 2xl:mx-auto">
    <div class="md:w-1/2 md:pr-4">
      <Header />
      <div class="pt-8 md:pl-20 md:pb-20 md:pt-32">
        <h1 class="mt-5 text-size-xl md:text-3xl xl:text-size-2xl">
          Travel <span class="text-primary">Around the World</span>
        </h1>
        <p
          class="text-dark text-xs md:text-xl xl:text-size-lg leading-lg sm:mt-4 xl:mt-8"
        >
          If you are creative person, this is your life!
        </p>
      </div>
    </div>
    <div class="mt-4 sm:w-1/2 sm:mt-0 relative">
      <ResponsiveImage
        className="d-flex"
        alt="Background video travel landing banner"
        width={{
          mobile: '100%'
        }}
        url={{
          mobile: '../images/home/webp/bg-video.webp',
          default: '../images/home/png/bg-video.png'
        }}
      />
      <PlayButton
        className="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      />
    </div>
  </main>
</Layout>
