---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button/index.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="p-8 mt-5">
      Travel <span class="text-primary">Around the World</span>
    </h1>
    <Button className="mb-2">Send</Button>
    <Button type="primary"
      >Explore All Destinies<span
        class="ml-10 text-base flex items-center justify-center w-8 h-8 rounded-full border border-white border-solid"
        >&#8594;</span
      >
    </Button>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
