---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import ResponsiveImage from '../components/ResponsiveImage.astro';
import PlayButton from '../components/PlayButton/index.astro';
---

<Layout title="Welcome to Astro.">
  <main
    class="sm:px-4 sm:pl-8 sm:py-0 sm:pr-0 sm:flex 2xl:container 2xl:mx-auto"
  >
    <div class="pt-4 sm:py-4 sm:w-1/2 sm:pr-4">
      <Header />
      <div
        class="px-4 pt-8 sm:pr-0 sm:pl-8 sm:pb-8 sm:pt-20 md:pl-20 md:pb-20 md:pt-32"
      >
        <h1 class="mt-5 text-size-xl md:text-3xl xl:text-size-2xl">
          Travel <span class="text-primary">Around the World</span>
        </h1>
        <p
          class="text-dark text-xs md:text-xl xl:text-size-lg leading-lg sm:mt-4 xl:mt-8"
        >
          If you are creative person, this is your life!
        </p>
      </div>
    </div>
    <div class="mt-4 sm:w-1/2 sm:mt-0 relative">
      <ResponsiveImage
        className="d-flex"
        alt="Background video travel landing banner"
        width={{
          desktop: '100%',
          mobile: '100%'
        }}
        height={{
          desktop: '100%',
          mobile: '100%'
        }}
        url={{
          desktop: '../images/home/webp/bg-video.webp',
          mobile: '../images/home/webp/bg-video-mobile.webp',
          mobile2x: '../images/home/webp/bg-video-mobile-2x.webp',
          default: '../images/home/png/bg-video.png'
        }}
      />
      <div id="video">
        <!-- CLOSE BUTTON -->
        <div id="close" class="hidden absolute top-0 z-10 cursor-pointer w-8 h-8 text-white border-solid border-white border rounded-full flex items-center justify-center right-0">X</div>
        <!-- IFRAME VIDEO -->
        <div class="youtube w-embed w-iframe absolute top-0 w-full h-full" id="banner-video"></div>
      </div>
      <PlayButton
        id="play"
        className="absolute cursor-pointer top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      />
    </div>
  </main>
</Layout>

<script defer type="text/javascript" src="js/video-hero.js" charset="UTF-8"></script>
