---
import Layout from 'layouts:Layout';
import Header from 'layouts:Header';
import ResponsiveImage from 'components:ResponsiveImage';
import PlayButton from 'components:PlayButton/index';
import CloseButton from 'components:CloseButton/index';
import Input from 'components:Input/index';
import Button from 'components:Button/index';
import Alert from 'components:Alert';
import LinkButton from 'components:LinkButton/index';
import { ROUTES } from 'src/constants/routes';
import { IMAGES_HOME } from 'src/constants/common';
---

<Layout title="Travel Around the World">
  <main
    class="md:px-4 md:pl-8 md:py-0 md:pr-0 md:flex 3xl:container 3xl:mx-auto relative"
  >
    <div class="pl-4 pt-4 md:py-4 md:w-1/2 md:pr-4">
      <Header />
      <div
        class="px-4 pt-8 md:pr-0 xl:pl-8 xl:pb-8 xl:pt-20 xl:pl-20 xl:pt-32 relative"
      >
        <div class="pb-14 xl:pb-24">
          <h1
            class="mt-5 text-size-xl md:text-3xl xl:text-size-2xl text-tertiary"
          >
            Travel <span class="text-primary">Around the World</span>
          </h1>
          <p
            class="text-tertiary text-xs md:text-xl xl:text-size-lg leading-lg md:mt-2 xl:mt-8"
          >
            If you are creative person, this is your life!
          </p>
        </div>
        <!-- Will update after merged input component -->
        <form class="flex flex-col xl:my-24">
          <div class="flex flex-col xl:flex-row">
            <Input
              autofocus
              type="number"
              id="input-salary"
              className="bg-white outline-none w-full xl:w-auto mb-3 xl:mb-0 pl-3"
              name="salary"
              placeholder="Your Salary Rate $"
              required
              size="sm"
            />
            <Button id="send" type="submit" className="xl:ml-4">Send</Button>
          </div>
          <Alert
            message="Send success"
            hasIcon={true}
            urlIcon="../check.svg"
            className="flex justify-between mt-2 alert hidden xl:max-w-alert"
          />
        </form>
        <ul
          class="flex flex-col pt-20 xl:pt-30 text-xs leading-xs text-tertiary"
        >
          <li>Meet All inclusive and exotic Hotels</li>
          <li>155 Countries</li>
          <li>1 feed - a new destination every month.</li>
        </ul>
      </div>
    </div>
    <div class="mt-4 md:w-1/2 md:mt-0">
      <div class="relative">
        <ResponsiveImage
          className="d-flex"
          alt="Background video travel landing banner"
          width={{
            default: '100%'
          }}
          height={{
            default: '100%'
          }}
          url={{
            desktop: IMAGES_HOME.bgVideoDesktop,
            mobile: IMAGES_HOME.bgVideoMobile,
            mobile2x: IMAGES_HOME.bgVideoMobile2x,
            default: IMAGES_HOME.bgVideoDefault
          }}
        />
        <div id="video">
          <!-- CLOSE BUTTON -->
          <CloseButton id="close-video" className="mt-2 z-30 h-6 w-6">
            <img class="w-5 h-5" src="../close.svg" alt="Close icon" />
          </CloseButton>
          <!-- IFRAME VIDEO -->
          <div
            class="youtube w-embed w-iframe top-0 w-full h-full"
            id="banner-video"
          >
          </div>
        </div>
        <PlayButton
          id="play-video"
          className="absolute cursor-pointer top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
        />
      </div>
    </div>
    <LinkButton
      className="absolute px-5 py-6 bottom-0 sm:bottom-14 xl:bottom-32 left-1/2 -translate-x-1/2"
      size="primary"
      href={ROUTES.DESTINATIONS}
      >Explore All Destinies<span
        class="ml-2 md:ml-10 text-base flex items-center justify-center w-8 h-8 rounded-full border border-white border-solid"
        >&#8594;</span
      >
    </LinkButton>
  </main>
  <script defer type="text/javascript" src="/js/home.js" charset="UTF-8"
  ></script>
</Layout>
