---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import ResponsiveImage from '../components/ResponsiveImage.astro';
import PlayButton from '../components/PlayButton/index.astro';
---

<Layout title="Welcome to Astro.">
  <main
    class="md:px-4 md:pl-8 md:py-0 md:pr-0 md:flex 2xl:container 2xl:mx-auto"
  >
    <div class="mt-4 sm:w-1/2 sm:mt-0 relative">
      <ResponsiveImage
        className="d-flex"
        alt="Background video travel landing banner"
        width={{
          desktop: '100%',
          mobile: '375px'
        }}
        height={{
          desktop: '100%',
          mobile: '478px'
        }}
        url={{
          desktop: '../images/home/webp/bg-video.webp',
          mobile: '../images/home/webp/bg-video-mobile.webp',
          mobile2x: '../images/home/webp/bg-video-mobile-2x.webp',
          default: '../images/home/png/bg-video.png'
        }}
      />
      <PlayButton
        className="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      />
    </div>
  </main>
</Layout>
