---
import { NAVIGATION } from 'src/constants/common';
import { ROUTES } from 'src/constants/routes';
import ResponsiveImage from 'components:ResponsiveImage';

export interface HeaderProps {
  className?: string;
}

const { className = '' } = Astro.props;

const urlPathName = Astro.url.pathname?.replace('.html', '');
const urlPathTrim =
  urlPathName.length - 1 > 0
    ? urlPathName.substring(urlPathName.length - 1, urlPathName.indexOf('/'))
    : urlPathName;
---

<header
  class={`flex items-center justify-between sm:max-w-part md:max-w-header ${className}`}
>
  <a class="mr-2" href={ROUTES.HOME}>
    <ResponsiveImage
      alt="Logo"
      width={{
        default: '22px'
      }}
      height={{
        default: '24px'
      }}
      url={{
        desktop: '/images/logo.webp',
        mobile: '/images/logo-mobile.webp',
        mobile2x: '/images/logo.webp',
        default: '/images/logo.png'
      }}
    />
  </a>
  <nav class="min-w-220 min-h-16">
    <ul
      class="flex min-w-full min-h-16 text-xs md:text-size-xs justify-between"
    >
      {
        NAVIGATION.map((item, index) => (
          <li class="min-w-30 min-h-16 pr-1 cursor-pointer">
            <a
              class={`min-w-full min-h-full ${
                urlPathTrim === item.href || urlPathName === item.href
                  ? 'text-primary'
                  : ''
              }`}
              href={item.href}
            >
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
