---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Web Development Travel Landing</title>
    <meta content="Travel landing" name="description" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      @font-face {
        font-family: Abel;
        src: url('../fonts/Abel-Regular.ttf') format('truetype'),
          url('../fonts/Abel-Regular.woff') format('woff'),
          url('../fonts/Abel-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body class="font-primary bg-secondary">
    <slot />
  </body>
</html>
