---
import './styles.css';

export interface ImageProps {
  className?: string;
  id?: string;
}

const { id, className } = Astro.props as ImageProps;
---

<div
  id={id}
  class={`play-button-outer rounded-full mx-auto w-12 h-12 md:w-24 md:h-24 bg-white cursor-pointer ${className}`}
>
  <div
    class="play-button border-solid border-t-[8px] border-r-[0px] border-b-[8px] border-l-[12px] md:border-t-[18px] md:border-r-[0px] md:border-b-[18px] md:border-l-[24px] opacity-75 w-0 h-0 mx-auto absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
  >
  </div>
</div>
