.play-button {
  border-color: transparent transparent transparent #000;
}

.play-button-outer:hover {
  background-color: #ecdfdf;
}

.play-button-outer:hover .play-button {
  opacity: 1;
}

.youtube {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
