---
import Input from 'components:Input/index';
import Button from 'components:Button/index';
import Alert from 'components:Alert';

export interface ImageProps {
  className?: string;
  id?: string;
}

const { id, className } = Astro.props as ImageProps;
---

<form class={`flex flex-col xl:my-24 relative ${className}`}>
  <h2 class="text-2xl">Contact Us</h2>
  <p class="text-sm mb-10">Please fill this form in a decent manner</p>
  <div class="flex flex-col">
    <Alert
      message="Submit success"
      hasIcon={true}
      urlIcon="../check.svg"
      className="flex justify-between mb-4 alert hidden xl:max-w-full"
    />
    <div class="flex flex-col mb-2">
      <div class="flex mb-2">
        <label class="w-16 h-6">Full Name</label>
        <span class="text-red-500">*</span>
      </div>
      <Input
        autofocus
        id="input-name"
        className="bg-white outline-none w-full xl:w-auto xl:mb-0 pl-3"
        name="full-name"
        placeholder=""
        required
        size="sm"
      />
      <p id="error-name" class="text-red-500 text-xs mt-2"></p>
    </div>
    <div class="flex flex-col mb-2">
      <div class="flex mb-2">
        <label class="w-14 h-6">E-mail</label>
        <span class="text-red-500">*</span>
      </div>
      <Input
        autofocus
        type="email"
        id="input-email"
        className="bg-white outline-none w-full xl:w-auto xl:mb-0 pl-3"
        name="email"
        placeholder=""
        required
        size="sm"
      />
      <p id="error-email" class="text-red-500 text-xs mt-2"></p>
    </div>
    <div class="flex flex-col mb-2">
      <div class="flex mb-2">
        <label class="w-14 h-6">Message</label>
        <span class="text-red-500">*</span>
      </div>
      <textarea
        rows={4}
        autofocus
        type="text"
        id="input-message"
        class="bg-white outline-none w-full xl:w-auto xl:mb-0 pl-3"
        name="message"
        placeholder=""
        required></textarea>
      <p id="error-message" class="text-red-500 text-xs mt-2"></p>
    </div>
    <Button id="btn-submit" className="max-w-btn-submit mx-auto mt-4"
      >Submit</Button
    >
  </div>
</form>
